/*Banner component css*/
@font-face {
    font-family: banner_font;
    src: url(../fonts/DoHyeon-Regular.ttf);
}
section#pet_shelter_banner {
    margin: 40px auto;

    div#pet_shelter_banner_moto {
        display: inline-block;
        padding: 25px 0px 14px 15px;
        vertical-align: top;
        width: 279px;
        h1 {
            font-family: banner_font;
            font-size: 48px;
            line-height: 60px;
            span:first-child {
                color: #FF5C4C;
            }

            span {
                color: #BDBDBD;
            }
        }

        h5 {
            color: #BDBDBD;
            font-size: 14px;
            font-weight: 400;
            line-height: 20.93px;
            margin-top: 21px;
        }
    }

    img#pet_shelter_banner {
        width: 568px;
    }
}