/*Banner component css*/
@font-face {
    font-family: banner_font;
    src: url(../fonts/DoHyeon-Regular.ttf);
}
section#add_pet_shelter_banner {
    margin: 40px auto 53px auto;
    div#add_pet_shelter_banner_moto {
        display: inline-block;
        margin-right: 15px;
        padding: 40px 0px 21px 15px;
        vertical-align: top;
        width: 379px;
        h1 {
            font-family: banner_font;
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: 60px;
            span:first-child {
                color: #FF5C4C;
            }
            span {
                color: #BDBDBD;
            }
        }
        h5 {
            color: #BDBDBD;
            font-size: 14px;
            font-weight: 400;
            line-height: 20.93px;
            margin-top: 15px;
        }
    }
}