/*Banner component css*/
section#add_pet_shelter_banner {
    margin: 40px auto 53px auto;

    div#add_pet_shelter_banner_moto {
        display: inline-block;
        vertical-align: top;
        width: 364px;
        padding: 40px 0px 0px 15px;
        margin-right: 15px;
        h1 {
            font-size: 48px;
            line-height: 60px;

            span:first-child {
                color: #FF5C4C;
            }

            span {
                color: #BDBDBD;
            }
        }

        h5 {
            color: #BDBDBD;
            font-size: 14px;
            font-weight: 400;
            line-height: 20.93px;
            margin-top: 15px;
        }
    }

    img#add_pet_shelter_banner {
        //margin 66px form right
    }
}