section#edit_pet{
    margin: 10px auto 60px auto;
    form{
        background: #FFFFFF;
        border-radius: 4px;
        box-shadow: 0px 8px 40px rgba(34, 69, 82, 0.05);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0em;
        line-height: 21px;
        margin: auto;
        padding: 24px 23px;
        width: 565px;
        h5{
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            margin-bottom: 20px;
        }
        div{
            .pet_form_inputs{
                margin-left: 200px;
            }
            input[type=text], select, textarea{ 
                background-color: #F2F2F2;
                border-radius: 4px;
                border: none;
                margin-bottom: 10px;   
                padding: 9px 14px 8px 14px;
            }
            label{
                color: #BDBDBD;
            }
            label#pet_desc_label{
                vertical-align: top;
            }
            #pet_type_select{
                margin-left: 64px;
                width: 399px;
            }
            
            #pet_desc_textarea{
                height: 102px;
                margin-left: 47px;
                max-width: 371px;
                min-width: 399px;
            }
            #skill_1{
                margin-left: 87px;
                width: 399px;
            }
            .pet_skills{
                margin-left: 119px;
                width: 399px;
            }
        }
        button[type=submit]{
            background-color: #FF5C4C;
            border-radius: 5px;
            border: none;
            color: white;
            padding: 7px 11px;
            i{
                margin-right: 10px;
            }
            margin: 31px 0px 0px 386px;
        }  
    }
}