/*Footer component css*/
footer {
    margin: 0px auto;

    p {
        color: #BDBDBD;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0em;
        line-height: 21px;
        text-align: center;

        a {
            color: #FF5C4C;
            text-decoration: none;
        }

        a:hover {
            color: #e95346;
        }
    }
}