@font-face {
    font-family: header_font;
    src: url(../fonts/kanit-regular.otf);
}

* {
    // outline: 1px solid black;
    padding: 0px;
    margin: 0px;
    font-family: header_font;
}

body {
    background-color: #F5F5F5;
}

header, section, main, footer{
    width: 862px;
    margin: 0px auto;
}

/*Navbar component css*/
header {
    nav {
        background: #FFFFFF;
        border-radius: 4px;
        box-shadow: 0px 8px 40px rgba(34, 69, 82, 0.15);
        margin: 10px auto;
        padding: 15px 18px;
        /*Navbar design for home.*/
        ul {
            li {
                display: inline-block;
                font-size: 14px;
                list-style: none;
                margin: 0px 24px;
                vertical-align: middle;

                a {
                    color: #BDBDBD;
                    font-weight: 400;
                    line-height: 21px;
                    text-decoration: none;
                }

                a:hover {
                    color: #FF5C4C;
                }
            }
            
            #back_to_home{
                display: none;
            }

            #brand_name {
                margin: 0px 229px 0px 0px;

                a {
                    color: black;
                    font-size: 24px;
                }
            }

            #add_pet_to_shelter {
                background-color: #FF5C4C;
                border-radius: 7px;
                color: white;
                margin-right: 0px;
                padding: 6px 11px;

                a {
                    color: white;

                    i {
                        margin: 0px 9px 0px 0px;
                    }
                }
            }

            #add_pet_to_shelter:hover {
                background-color: #e95346;
            }
        }
    }
}

/*Banner component css*/
section#pet_shelter_banner {
    margin: 40px auto;

    div#pet_shelter_banner_moto {
        display: inline-block;
        vertical-align: top;
        width: 264.03px;
        padding-top: 25px;

        h1 {
            font-size: 48px;
            line-height: 60px;

            span:first-child {
                color: #FF5C4C;
            }

            span {
                color: #BDBDBD;
            }
        }

        h5 {
            color: #BDBDBD;
            font-size: 14px;
            font-weight: 400;
            line-height: 20.93px;
            margin-top: 21px;
        }
    }

    img#pet_shelter_banner {
        width: 595.32px;
    }
}

/*Main content component css*/
main {
    margin: 50px auto 40px auto;

    h3 {
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        text-align: center;
        margin-bottom: 17px;
    }

    table {
        font-size: 18px;
        width: 862px;
        border-collapse: separate;
        border-spacing: 0 5px;

        tr {
            background: #FFFFFF;
            box-shadow: 0px 8px 40px rgba(34, 69, 82, 0.05);
            border-radius: 4px;
            margin: 100px 0px;

            td {
                padding: 17px 23px;

                button {
                    font-size: 18px;
                    border: none;
                    background-color: transparent;
                    color: #BDBDBD;

                    i {
                        margin: 0px 15px 0px 35px;
                    }
                }

                button:hover {
                    color: black;
                }
            }

            .pet_name {
                width: 325px;
            }

            .pet_type {
                width: 164px;
            }
        }
    }
}

section#add_pet{
    form{
        width: 519px;
        margin: auto;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        padding: 24px 23px;
        background: #FFFFFF;
        box-shadow: 0px 8px 40px rgba(34, 69, 82, 0.05);
        border-radius: 4px;
        div{
            .pet_form_inputs{
                margin-left: 200px;
            }
            input[type=text], select, textarea{ 
                padding: 9px 14px;
                background-color: #F2F2F2;
                border-radius: 4px;
                border: none;
                margin-bottom: 10px;
                
            }
            label{
                color: #BDBDBD;
            }
            label#pet_desc_label{
                vertical-align: top;
            }
            #pet_name_input{
                margin-left: 57px;
                width: 371px;            
            }
            #pet_type_select{
                margin-left: 64px;
                width: 399px;
            }
            
            #pet_desc_textarea{
                margin-left: 47px;
                width: 371px;
                height: 84px;
            }
            #skill_1{
                margin-left: 87px;
                width: 371px;
            }
            .pet_skills{
                margin-left: 119px;
                width: 371px;
            }
        }
        input[type=submit]{
            background-color: #FF5C4C;
            color: white;
            padding: 7px 23px;
            border: none;
            border-radius: 5px;
        }  
    }
}

/*Footer component css*/
footer {
    margin: 0px auto;

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        color: #BDBDBD;

        a {
            color: #FF5C4C;
            text-decoration: none;
        }

        a:hover {
            color: #e95346;
        }
    }
}