@font-face {
    font-family: header_font;
    src: url(../fonts/kanit-regular.otf);
}

* {
    // outline: 1px solid black;
    padding: 0px;
    margin: 0px;
    font-family: header_font;
}

body {
    background-color: #F5F5F5;
}

header, section, main, footer{
    width: 862px;
    margin: 0px auto;
}