@font-face {
    font-family: kanit;
    src: url(../fonts/kanit-regular.otf);
}

@font-face {
    font-family: DoHyeon;
    src: url(../fonts/DoHyeon-Regular.ttf);
}

* {
    font-family: kanit;
    margin: 0px;
    // outline: 1px solid black;
    padding: 0px; 
}

body {
    background-color: #F5F5F5;
}

header, section, main, footer{
    margin: 0px auto;
    width: 862px;
}